$font-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-code: monospace;

$body-line-height: 1.5;
$body-weight: 400;
$body-background-color: hsl(0, 0%, 97%);
$body-color: hsl(0, 0%, 20%);

$link-color: #3935bf;
$link-hover-color: #bf3599;
$code-color: #b91313;

$container-max-width: 46rem;
